* {
    margin:0px;
    padding:0px;
    /*border:0px;*/
    font-family: "Microsoft YaHei";}/*去除全部内外填充*/

a{text-decoration : none}/*去除链接下划线*/

.border{/*加边框方便查看*/
    border: 1px solid #d04a36;
}

.center{/*水平居中定位，加在容器上*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.middle{/*垂直居中定位，加在容器上*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header{
    width: 100%;
    height: 56px;
    background-color: #2189bf;
    text-align: center;
}

.header-container{
    width: 1280px;
    height: 56px;
}

.logo{
    float: left;
    margin: 10px 10px 10px 50px;
}

.login_bar,.search_bar{
    height: 28px;
}

.login_bar{
    width: 100px;
    right: 35px;
    text-align: left;
}

.login_bar span{
    font-size: 12px;
    color: #FFF;
    margin-left: 20px;
}

.search_bar{
    width: 312px;
    right: 156px;
    border-radius: 90px;
    background-color: #FFF;
    text-align: left;
}
.search_bar img{
    left: 10px;
}

.search_bar input{
    left:30px;
    border: 0;
    width: 270px;
}

.midcontainer{
    width: 1280px;
}

.left-container{
    width: 260px;
    float: left;
    height: 1200px;
    background-color: #2a2e3d;
}

.right-container{
    /*clear: both;*/
    width: 1020px;
    height: 1200px;
    float: right;
    background-color: #ededec;
    position: relative;
}

.info{
    width: 180px;
    height: 60px;
    margin: 20px 40px;
    position: relative;
}

.img-container{
    width: 58px;
    height: 58px;
    border-radius: 60px;
    border: 1px solid #aaaaaa;
    display: inline-block;
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 60px;
    background-color:  #aaaaaa;
    margin: 4px;
}

.name{
    color: #FFF;
    font-size: 16px;
    display: inline-block;
    margin-left: 16px;
}

.count{
    width: 160px;
    margin: 20px 40px;
    position: relative;
    color: #67778b;
    font-size: 16px;
}

.c-1,.c-2{
    display: inline-block;
    width: 70px;
    text-align: center;
}

.c-2{
    float: right;
}

.shu{
    width: 2px;
    height: 30px;
    background-color: #67778b;
}

ul{
    list-style-position:inside;
    line-height: 40px;
}

.u2{
    margin-left: 24px;
}

.caidan{
    width: 100%;
    color: #67778b;
}

.store,.pics,.progress{
    list-style-image: url(star.png);
    padding-left: 40px;
}

.share{
    list-style-image: url(share.png);
    padding-left: 40px;
}

.acount{
    list-style-image: url(acount.png);
    padding-left: 40px;
}

.personal{
    color: #FFF;
    list-style-image: url(personal.png);
    padding-left: 40px;
    background-color: rgba(255,255,255,0.1);/*添加背景透明效果*/
 }

.l-close{
    list-style-image: url(l-close.png);
    color: #67778b;
}

.l-open{
    list-style-image: url(l-open.png);
}

.d-open{
    color: #FFF;
    list-style-image: url(d-open.png);
}

.d-close{
    color: #67778b;
    list-style-image: url(d-close.png);
}

.way{
    width: 100%;
    height: 40px;
    background-color: #FFF;
    position: relative;
}

.way>span:first-of-type{
    margin-left: 40px;
}

.way>span{
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    color: #aaaaaa;
}

.way>span:last-of-type{
    color: #2189bf;
}

.cha{
    width: 890px;
    height: 80px;
    margin: 20px 70px 20px 60px;
    background-color: #FFF;
    box-shadow: 0 0 1px #444;
}

.cha1,.cha2,.cha3,.cha4{
    display: inline-block;
    float: left;
    height: 60px;
    margin-top: 10px;
    margin-left: 40px;
    position: relative;
}

.cha label{
    float: left;
    font-size: 14px;
    color: #aaaaaa;
    margin-top: 4px;
}

.cha select{
    float: left;
    margin-left: 16px;
    height: 25px;
}

.l2{
    margin-left: 16px;
}

.cha2-l,.cha2-r{
    float: left;
}

.cha2-l-up,.cha2-l-down,.cha3-up,.cha3-down{
    height: 30px;
}

.cha2-r-1{
    font-size: 12px;
    color: #FFF;
    margin-left: 14px;
    margin-top: 21px;
    position: relative;
    z-index: 1;
}

.s1{width: 70px;}
.s2{width: 120px;}
.s3{width: 120px;}
.s4{width: 70px;}
.s5{width: 70px;}
.s6{width: 120px;}

.sousuo{
    width: 52px;
    background-color: #388ac1;
    color: #FFF;
    border-radius: 5px;
    line-height: 26px;
    text-align: center;
}

select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("arrow-down.png")no-repeat scroll right center transparent;
    padding-right: 16px;
    padding-left: 5px;
}

.days{
    width: 890px;
    height: 70px;
    margin: 20px 70px 20px 60px;
}

.arrow,.card,.history{
    height: 70px;
    float: left;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 0 1px #444;
    position: relative;
}

.arrow{
    width: 30px;
}
.arrow>img{
    margin-left: 10px;
}

.card{
    width: 120px;
    text-align: center;
 }

.card:first-of-type{
    border-top: 3px solid #4388c9;
}

.card-up{
    margin-top: 10px;
    font-size: 14px;
}

.card-down{
    margin-top: 5px;
    vertical-align: bottom;
    font-size: 14px;
}

.card-down>span:first-of-type{
    color: #aaaaaa;
}

.card-down>span:last-of-type{
    font-size: 21px;
    color: #ec6602;
}

.history{
    width: 160px;
    margin-right: 0px;
}

.history *{
    vertical-align: middle;
    left: 30px;
    color: #000;
}

.tongji{
    width: 890px;
    height: 100px;
    margin: 20px 70px 20px 60px;
}

.num{
    width: 200px;
    height: 70px;
    float: left;
    margin-top: 5px;
    margin-right: 26px;
    background-color: #fff;
    box-shadow: 0 0 1px #444;
    position: relative;
}

.num:last-of-type{
    margin-right: 0;
}

.num-l,.num-r{
    display: inline-block;
}

.num-l{
    left: 10px;
}

.num-l>p:last-of-type{
    margin-top: 8px;
    color: #aaaaaa;
}

.num-r{
    width: 50px;
    height: 50px;
    right: 10px;
    /*background-color:#418c59 ;*/
}

.num:nth-of-type(1){
    border-left: 3px solid #418c59;
}

.num:nth-of-type(1)>.num-r{
    background-color: #418c59;
}

.num:nth-of-type(2){
    border-left: 3px solid #388ac1;
}

.num:nth-of-type(2)>.num-r{
    background-color: #388ac1;
}

.num:nth-of-type(3){
    border-left: 3px solid #d04a36;
}

.num:nth-of-type(3)>.num-r{
    background-color: #d04a36;
}

.num:nth-of-type(4){
    border-left: 3px solid #e2cd47;
}

.num:nth-of-type(4)>.num-r{
    background-color: #e2cd47;
}

.pro{
    width: 890px;
    height: 360px;
    margin: 20px 70px 20px 60px;
 }

.pro-l,.pro-r{
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 1px #444;
    background-color: #fff;
}

.pro-l{
    width: 530px;
    height: 100%;
}

.pro-r{
    width: 350px;
    height: 100%;
    float: right;
}

.title{
    width: 100%;
    height:44px;
    border-radius: 5px 5px 0px 0px;
    background-color: #eee;
}

.title>p{
    color: #aaa;
    float: left;
    margin: 10px 0px 0px 20px;
}

.tab{/*设定标签页区域*/
    width: 490px;
    height: 270px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    /*overflow: hidden;*/
}

input[type='radio']{/*隐藏单选按钮*/
    display: none;
}

input[type='radio']:checked~div[class^='mod']{
    display: block;/*显示选中的标签页对应的内容区*/
}

input[type='radio']:checked~label{
    background: white;/*切换标签为选中状态*/
    border: 1px solid #ddd;
    border-bottom: none;
}

.tab label{
    position: absolute;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #ddd;
    border-radius: 5px 5px 0px 0px;
    z-index: 1;/*用标签的下边框盖住内容区的上边框，形成一个整体的效果*/
    top: 0;
}

.label-1{  left: 0;  }
.label-2{  left: 100px;  }
.label-3{  left: 200px;  }
.label-4{  left: 300px;  }
.label-5{  left: 400px;  }

[class^='mod']{/*设定内容区域*/
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    height: 240px;
    display: none;
    border: 1px solid #ddd;
}

[class^='mod']>table{
    margin-left: 30px;
    margin-top: 30px;
    width: 430px;
    height: 180px;
    border-collapse: collapse;
}

[class^='mod']>table *{
    border: 1px solid #ddd;
    text-align: center;
}

.pro-r-1{
    margin-top: 20px;
    margin-left: 30px;
    width: 290px;
    height: 250px;
    /*background-color: #f5e327;*/
    position: relative;
}

.pro-r-2{
    float: left;
    width: 100px;
    border: 1px solid #bbb;
    border-left: none;
    margin: 5px 0px;
    padding: 5px 0px;
}

.pro-r-3{
    float: left;
    width: 189px;
    border: 1px solid #bbb;
    border-left: none;
    border-right: none;
    margin: 5px 0px;
    padding: 5px 0px;
}

.key{
    margin-left: 10px;
    color: #bbb;
}

.value{
    margin-left: 10px;
}

.pro-r-4{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #bbb;
}

.pro-r-5{
    color: #bbb;
}

.pro-r-6{
    margin-left: 240px;
}

.chk_1 {
    display: none;
}

.chk_1 + label {
    background-color: #ddd;
    border: 1px solid #C1CACA;
    padding: 9px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.chk_1:checked + label {
    background-color: #ddd;
    border: 1px solid #92A1AC;
    color: #243441;
}

.chk_1:checked + label:after {
    content: '\2714';
    position: absolute;
    top: 0px;
    left: 0px;
    color: #758794;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.pro-r-5>label:last-of-type{
    position: relative;
    top: -5px;
}

.rili{
    width: 890px;
    height: 370px;
    margin: 20px 70px 20px 60px;
}

.rili-l,.rili-r{
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 1px #444;
    background-color: #fff;
}

.rili-l{
    width: 350px;
    height: 100%;
}

.rili-r{
    width: 530px;
    height: 100%;
    float: right;
}

.rili-container{
    margin-top: 20px;
    margin-left: 25px;
    width: 300px;
    height: 280px;
}

.ss1{width: 80px;  }
.ss2{width: 50px;  }
.ss3{width: 90px;  }

.ret{
    border: 1px solid #bbb;
    font-size: 14px;
    color: #000;
    padding: 0px 3px;
}

.rili-container>table{
    margin-top: 10px;
    width: 300px;
    border-collapse: collapse;
    font-size: 12px;
}

.rili-container th{
    border-top: 1px solid #2189bf;
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
    width: 40px;
}

.rili-container td{
    padding: 5px 0px;
    text-align: center;
}

.rili-container td:hover{
    background-color: #ddd;
}

.rili-container tr:nth-of-type(2) td:nth-of-type(5) p:last-of-type{
    color: red;
}

.rili-container tr:nth-of-type(3) td:nth-of-type(6),.rili-container tr:nth-of-type(4) td:nth-of-type(2),.rili-container tr:nth-of-type(5) td:nth-of-type(2){
     border: 1px solid #e2cd47;
 }

.rili-r-1>table{
    margin-top: 20px;
    margin-left: 40px;
    width: 450px;
    height: 280px;
    border-collapse: collapse;
}

.rili-r-1 th,.rili-r-1 td{
     border: 1px solid #bbb;
     text-align: center;
     position: relative;
 }

.rili-r-1 tr>td:nth-of-type(1){
    width: 70px;
}

.rili-r-1 tr>td:nth-of-type(2){
    width: 90px;
}

.rili-r-1 tr>td:nth-of-type(3){
    text-align: left;
    padding-left: 20px;
}

.rili-r-1 tr:hover{
    background-color: #ddd;
}

.full_bar{
    width: 160px;
    height: 6px;
    left: 110px;
    background-color: #dddddd;
}

.jindu_bar{
    height: 5px;
    background-color: #7ecaef;
}

tr:nth-of-type(2) .jindu_bar{width: 140px;background-color: #ed6e52;}
tr:nth-of-type(3) .jindu_bar{width: 130px;background-color: #ef8150}
tr:nth-of-type(4) .jindu_bar{width: 120px;background-color: #f19e4f}
tr:nth-of-type(5) .jindu_bar{width: 110px;}
tr:nth-of-type(6) .jindu_bar{width: 100px;}
tr:nth-of-type(7) .jindu_bar{width: 90px;}
tr:nth-of-type(8) .jindu_bar{width: 80px;}
tr:nth-of-type(9) .jindu_bar{width: 70px;}
tr:nth-of-type(10) .jindu_bar{width: 60px;}
tr:nth-of-type(11) .jindu_bar{width: 50px;}